body{
    background: rgb(110,255,247);
    background: linear-gradient(180deg, rgba(110,255,247,0.6615239845938375) 0%, rgba(110,195,234,1) 100%);
    margin-top:0;
}


#banner{
    z-index: 0;
    width: 1100px;
    height:250px;
    background-color:#1B7505;
    border-bottom-left-radius: 20% 30%;
    border-bottom-right-radius: 40% 80%;
    border-top-right-radius: 5% 60%;
    border:1.5px #000000 solid;
}

header{
    color:aliceblue;
    font-family: 'Play', sans-serif;
}

#heading{
    margin-left: 20px;
}

#trunk{
    position: absolute;
    top: 20%;
    left: 0;
    height: 100%;
    width: 8%;
    z-index: -1;
    background-color: rgb(97, 74, 38);
    border:1.5px #000000 solid;
}


#orange1{
    position: relative;
    bottom: 70%;
    left: 35%;
    animation: rotation 2s infinite;
}



#orange2{
    position: relative;
    bottom: 65%;
    left: 53%;
    animation: rotation 4s infinite;
}


#orange3{
    position: relative;
    bottom: 50%;
    left: 75%;
    animation: rotation 3s infinite;
}

#orange4{
    position: relative;
    bottom: 10%;
    left: -10%;
    animation: rotation 3s infinite;
}

#orange5{
    position: relative;
    bottom: 11%;
    left: 45%;
    animation: rotation 2s infinite;
}

h1{
    font-size:48px;
    font-weight: 700;
}

header h2{
    font-size: 36px;
    font-weight: 600;
}

main{
    display: flex;
    justify-content: space-around;
    margin-left:180px;
    margin-top:5%;
    margin-right:30px;;
    margin-bottom:20px;

}


article{
    display: block;
    background-color: #FFEBD8;
    text-align: center;
    width:200px;
    border-radius:30px;
    padding: 10px 30px;
    border: 1px solid #000000;
    box-shadow: 0 1px 3px #000000;
    font-family: 'Play', sans-serif;
}

article ul {
    list-style-type: none;
    padding:0;
}

article ul a{
    display: block;
    background-color: #FFF8F2;
    margin: 15px 0;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    color:black;
    font-family:'Play', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #FF912B;
}

article ul a:hover{
    background-color: #FF912B;
    color:#ffffff;
    border: 1px solid #FFF8F2;

}

footer{
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #73CC49;
    padding:5px 0;
    border-top-right-radius: 30% 50%;
    border-top-left-radius: 20% 30%;
    text-align: center;
    border: 1px #000000 solid;
    text-decoration: none;
    font-size: 18px;
    color:#000000;
    font-family: 'Play', sans-serif;
}

footer p{
    margin-left:10px;
    font-style: italic;
}

footer a{
    color: #000000;
    font-style: italic;
    margin-left:5px;
    font-size: 18px;
    font-weight: 700;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  
  }
