body {
    font-family: Arial;
    color: #333;
    padding: 50px;
    line-height: 1.5em;
}

.hidden{
    display:none;
}

#rules{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#rules article{
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    width: 50vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button { 
    padding: 10px;
}

div {
    padding: 20px;
}

#gamecontrol, #score {
    background-color: aliceblue;
}

#gamecontrol{
    text-align: center;
}

#game {
    background-color:#eaeaea;
}
#actions {
    background-color: silver;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #8591B0;
}

#gameplay{
    display:flex;
}