body{
    height: 750px;
    width: 1200px;
    display:flex;
    background-color: #1A1A1A;
}


form{
    background-color: #1C75FB;
    padding: 25px 50px;
    margin: 20px;
    margin-top: 120px;
    border-radius: 50px;
}

#input{
    display: flex;
    flex-direction: column;
    
}

input{
    border-radius:5px;
    border: 1px black;
    font-family: 'roboto', sans-serif;
    background-color: rgb(0,0,0,.8);
    color: white;
}

header{
    font-family: 'roboto', sans-serif;
    color: #F64C4C;
    text-align: center;
    font-size: 30px;
}

label{
    color: white;
    font-size: 20px;
    width: 300px;
    margin: 5px 0;
    font-family: 'roboto', sans-serif;
    border-radius: 5px;
}

.sent{
    margin-top: 20px;
}


#send{
    color:white;
    font-family: 'roboto' sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 150px;
    top: 10px;
}

#sent{
    background-color: rgb(0,0,0,.8);
    border-radius: 50px;
    padding: 15px 30px;
    font-weight: bold;


}

#reply{
    color:white;
    background-color: rgb(107,107,107);
    position: absolute;
    top: 150px;
    right: 200px;
    border-radius: 50px;
    font-family: 'roboto' sans-serif;
    padding: 25px 40px;
    font-size: 20px;
    margin:0;
    width: 300px;
    line-height: 1.3em;

}

header h1{
    margin: 50px;
    margin-top: 100px;
}

.hidden{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    transform: scale(0.5);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@keyframes growOverlay {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

