
.hidden{
    display:none;
}

.describe{
    box-sizing: border-box;
    background-color: rgb(21, 21, 21);
    padding: 30px;
    width: 45vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.visible{
    visibility: visible;
}

body{
    background-color: #2F2F2F;
    width: 100%;
}

p{
    color: white;
    font-family: "Press Start 2P", system-ui;
    line-height: 1.6em;
}

h2{
    color:white;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    text-decoration: underline;
}

h1{
    color:white;
    font-family: "M PLUS 1", sans-serif;
    font-size: 45px;
    font-weight: 800;
}

#pp{
    width: 100px;
    height:100px;
}

#user{
    display:flex;
}

#user img{
    border-radius: 50%;
    border: 1px solid black;
}

#user p{
    margin:auto;
    margin-left: 20px;
}

header{
    display:flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}

header p{
    margin:auto;
    margin-right: 10px;
    font-family: "M PLUS 1", sans-serif;
    font-size: 20px;
    
}


#previews{
    width:100%;
    overflow-x: auto;
    display:flex;
    white-space: nowrap;
}

#previews img{
    margin: 70px;
    border: solid 1px black;
    height: 300px;
    width: 300px;
}

#pp{
    cursor: pointer;
}

#pp:hover{
    border-color: rgb(37, 168, 225);
    border-width: 3px;
}

#piplupCard{
    cursor: pointer;
}

#piplupCard:hover{
    border-color: rgb(37, 168, 225);
    border-width: 3px;
}

#dragonCard{
    cursor:pointer;
}

#dragonCard:hover{
    border-color: rgb(37, 168, 225);
    border-width: 3px;
}

#helloKittyCard{
    cursor: pointer;
}

#helloKittyCard:hover{
    border-color: rgb(37, 168, 225);
    border-width: 3px;
}

#hironoCard{
    cursor:pointer;
}

#hironoCard:hover{
    border-color: rgb(37, 168, 225);
    border-width: 3px;
}

#pochacoCard{
    cursor: pointer;
}

#pochacoCard:hover{
    border-color: rgb(37, 168, 225);
    border-width: 3px;
}

#navigation{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#navigation img{
    cursor: pointer;
}

.close{
    cursor:pointer;
}

#pressedLeft, #pressedRight{
    display: none;
}



#piplupGame h2{
    color: #688EEF;
}



#dragonGame h2{
    color: rgb(26, 130, 43)
}



#hellokittyGame h2{
    color: rgb(7, 133, 32);
}



#hironoGame h2{
    color: rgb(101, 67, 16);
}



#pochacoGame h2{
    color: rgb(30, 79, 185)
}

.description{
    display:flex;
}

.description p{
    margin:auto;
    padding: 10px;
}

.close{
    position: absolute;
    right: 30px;
    top: 20px;
    height: 30px;
    width: 30px;
}

p{
    font-size: 15px;
    margin: 0;
    line-height: 1.8em;
}




.pixel{
    width:200px;
    height:200px;
}



#hironoList{
    display: flex;
    flex-direction: column;
}

button{
    font-family: "Press Start 2P", system-ui;
    cursor: pointer;
}

.play{
    border: 3px solid yellow;
    color: black;
    background-color:#fff690;
    font-weight: 400px;
    padding: 20px;
}

.overlay h2{
    text-decoration: underline;
}

#levels{
    margin-top: 50px;
    display:flex;
    justify-content: space-around;
}

#piplup1 h2{
    color: #688EEF;
}

#piplup2 h2{
    color: #688EEF;
}

#piplup3 h2{
    color: #688EEF;
}

#piplupWin h2{
    color: #688EEF;
}

#dragon1 h2{
    color: rgb(26, 130, 43)
}

#dragon2 h2{
    color: rgb(26, 130, 43)
}

#dragon3 h2{
    color: rgb(26, 130, 43)
}

#dragonWin h2{
    color: rgb(26, 130, 43)
}

#hellokitty1 h2{
    color: rgb(7, 133, 32);
}

#hellokitty2 h2{
    color: rgb(7, 133, 32);
}

#hellokitty3 h2{
    color: rgb(7, 133, 32);
}

#hellokittyWin h2{
    color: rgb(7, 133, 32);
}

#hirono1 h2{
    color: rgb(101, 67, 16);
}

#hirono2 h2{
    color: rgb(101, 67, 16);
}

#hirono3 h2{
    color: rgb(101, 67, 16);
}

#hironoWin h2{
    color: rgb(101, 67, 16);
}

#pochaco1 h2{
    color: rgb(30, 79, 185)
}

#pochaco2 h2{
    color: rgb(30, 79, 185)
}

#pochaco3 h2{
    color: rgb(30, 79, 185)
}

#pochacoWin h2{
    color: rgb(30, 79, 185)
}

#piplupWin h2{
    font-size: 40px;
}

#piplupWin p{
    font-size: 20px;
    margin-top: 50px;
}

#dragonWin h2{
    font-size: 40px;
}

#dragonWin p{
    font-size: 20px;
    margin-top: 50px;
}

#hellokittyWin h2{
    font-size: 40px;
}

#hellokittyWin p{
    font-size: 20px;
    margin-top: 50px;
}

#hironoWin h2{
    font-size: 35px;
}

#hironoWin p{
    font-size: 20px;
    margin-top: 50px;
}

#pochacoWin h2{
    font-size: 35px;
}

#pochacoWin p{
    font-size: 20px;
    margin-top: 50px;
}

.next{
    border: 3px solid yellow;
    color: black;
    background-color:#fff690;
    font-weight: 400px;
    padding: 25px;
}

.previous{
    padding: 5px;
    font-size: 10px;
}

#me{
    width: 300px;
    height: 400px;
}

#profile h2{
    color: orange;
}

